/Exercício/utilizando_operadores_matematico/nbproject/private/
/Exercício/utilizando_operadores_matematico/build/
/Exercício/utilizando_operadores_matematico/dist/
/Exercício/Super Calculadora/nbproject/private/
/Exercício/Super Calculadora/build/
/Exercício/Super Calculadora/dist/
/Exercício/calculadoracompleta/nbproject/private/
/Exercício/calculadoracompleta/build/
/Exercício/calculadoracompleta/dist/
/Exercício/Exercício 07 - calculadoracompleta/build/
/Exercício/Exercício 07 - calculadoracompleta/dist/
/Exercício/Exercício 07 - calculadoracompleta/nbproject/private/
/AULAS/aula08/nbproject/private/
/AULAS/aula08/build/
/AULAS/verificador_de_idade/nbproject/private/
/AULAS/verificador_de_idade/build/
/Exercício/Exercício 08 - Jogo de adivinhacao/nbproject/private/
/Exercício/Exercício 08 - Jogo de adivinhacao/build/
/AULAS/AULA09 - Estrutura Condicional/nbproject/private/
/AULAS/AULA09 - Estrutura Condicional/build/
/AULAS/AULA09 - Estrutura Condicional/dist/
/AULAS/Aula 09_Par_ou_Impar/nbproject/private/
/AULAS/Aula 09_Par_ou_Impar/build/
/AULAS/Aula 09_Par_ou_Impar/dist/
/Exercício/exercício_09_DELTA/nbproject/private/
/Exercício/exercício_09_DELTA/build/
