/Exercício/utilizando_operadores_matematico/nbproject/private/
/Exercício/utilizando_operadores_matematico/build/
/Exercício/utilizando_operadores_matematico/dist/
/Exercício/Super Calculadora/nbproject/private/
/Exercício/Super Calculadora/build/
/Exercício/Super Calculadora/dist/
/Exercício/calculadoracompleta/nbproject/private/
/Exercício/calculadoracompleta/build/
/Exercício/calculadoracompleta/dist/
/Exercício/Exercício 07 - calculadoracompleta/build/
/Exercício/Exercício 07 - calculadoracompleta/dist/
/Exercício/Exercício 07 - calculadoracompleta/nbproject/private/
/AULAS/aula08/nbproject/private/
/AULAS/aula08/build/
/AULAS/verificador_de_idade/nbproject/private/
/AULAS/verificador_de_idade/build/
/Exercício/Exercício 08 - Jogo de adivinhacao/nbproject/private/
/Exercício/Exercício 08 - Jogo de adivinhacao/build/
/AULAS/AULA09 - Estrutura Condicional/nbproject/private/
/AULAS/AULA09 - Estrutura Condicional/build/
/AULAS/AULA09 - Estrutura Condicional/dist/
/AULAS/Aula 09_Par_ou_Impar/nbproject/private/
/AULAS/Aula 09_Par_ou_Impar/build/
/AULAS/Aula 09_Par_ou_Impar/dist/
/Exercício/exercício_09_DELTA/nbproject/private/
/Exercício/exercício_09_DELTA/build/
/AULAS/Aula_10_Votação/nbproject/private/
/AULAS/Aula_10_Votação/build/
/AULAS/Aula_10_UtilizandoSwing/nbproject/private/
/AULAS/Aula_10_UtilizandoSwing/build/
/Exercício/Exercício_Aula_10/nbproject/private/
/Exercício/Exercício_Aula_10/build/
/AULAS/Aula_11/nbproject/private/
/AULAS/Aula_11/build/
/AULAS/Aula_10_contador/nbproject/private/
/AULAS/Aula_10_contador/build/
/Exercício/Exercício_11_Fatorial/nbproject/private/
/Exercício/Exercício_11_Fatorial/build/
/AULAS/Aula_12_2/nbproject/private/
/AULAS/Aula_12_2/build/
/Exercício/Exercício_12/nbproject/private/
/Exercício/Exercício_12/build/
/Exercício/aula_12_3_repeticao/nbproject/private/
/Exercício/aula_12_3_repeticao/build/
/Exercício/Exercício_12_3_Laco_de_repeticao/nbproject/private/
/Exercício/Exercício_12_3_Laco_de_repeticao/build/
/Exercício/Vetor_01/nbproject/private/
/Exercício/Vetor_01/build/
/AULAS/Vetor_02/nbproject/private/
/AULAS/Vetor_02/build/
/AULAS/Vetor_03/nbproject/private/
/AULAS/Vetor_03/build/
