/Exercício/utilizando_operadores_matematico/nbproject/private/
/Exercício/utilizando_operadores_matematico/build/
/Exercício/utilizando_operadores_matematico/dist/
/Exercício/Super Calculadora/nbproject/private/
/Exercício/Super Calculadora/build/
